# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# DB
*.sqlite3

# Alembic
alembic/versions/

# Pytest cache
.pytest_cache/
.coverage
htm
